.cart {
  margin-top: 100px;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: tomato;
  font-size: max(1vw, 12px);
}

.cart-items-item {
  margin: 10px 0px;
  color: rgb(0, 0, 0);
}
.cart-items-item img {
  width: 50px;
}
.item-money {
  color: #2f9f2f;
}

.cart hr {
  border: 1px solid #ccc;
  height: 1px;
}

.cart-items-item .cross {
  cursor: pointer;
}

.cart-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}
.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: gray;
}

.cart-total hr {
  margin: 10px 0px;
}

.cart-total button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cart-total button:hover {
  background-color: tomato;
  color: #fff;
}

.cart-promocode {
  flex: 1;
}

.cart-promocode p {
  color: gray;
}

.cart-promocode input {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: tomato;
  border-radius: 5px;
}

.cart-promocode-input input {
  padding: 10px 20px;
  margin-top: 10px;
}

.cart-promocode-input button {
  padding: 10px 20px;
  margin-top: 10px;
  width: max(10vw, 150px);
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .cart-bottom {
    flex-direction: column-reverse;
  }
  .cart-promocode {
    justify-content: start;
  }
}
